<div class="row">
  <div class="col-8">
    <h5>Primary beneficiary</h5>

    <table
      class="table table-borderless mb-4"
      *ngFor="let bData of reviewData; let i = index"
    >
      <tbody>
        <tr>
          <td class="float-end">Name</td>
          <td>{{ getName(bData) }}</td>
        </tr>
        <tr>
          <td class="float-end">Relationship</td>
          <td>{{ bData.type | capitalize }}</td>
        </tr>
        <tr>
          <td class="float-end">Percentage assigned</td>
          <td>{{ bData?.details?.percentageAssigned }}</td>
        </tr>
        <tr>
          <td class="float-end">{{ getDateCaption(bData.type) }}</td>
          <td>
            {{ getFormatDate(bData) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>