<div>
  <form [formGroup]="beneficiariesForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="beneficiary-form" formArrayName="beneficiaries">
      <div *ngFor="let beneficiary of getArrayElements(); let i = index">
        <div
          [formGroupName]="i"
          class="pt-3"
          [ngClass]="{ 'border-top mt-3': i > 0 }"
        >
          <div
            class="d-flex justify-content-end position-absolute right-1 gap-2"
          >
            <button
              type="button"
              class="btn btn-light"
              *ngIf="beneficiaries.length < 2 && i == beneficiaries.length - 1"
              (click)="addNewBeneficiary()"
            >
              <i class="bi bi-plus-circle"></i> Add New
            </button>
            <button
              type="button"
              class="btn btn-warning"
              *ngIf="beneficiaries.length > 1"
              (click)="removeNewBeneficiary(i)"
            >
              <i class="bi bi-trash"></i> Remove
            </button>
          </div>

          <div class="row">
            <div class="mb-3 col-4">
              <label
                [for]="'PrimaryBeneficiary' + i"
                class="form-label fw-semibold"
                >Primary beneficiary</label
              >
              <select
                class="form-select"
                [ngClass]="{
                  'is-invalid': isInValidField('type', i),
                  'is-valid': isValidField('type', i)
                }"
                aria-label="Default select example"
                formControlName="type"
                (change)="onSelectChange($event, i)"
                [id]="'PrimaryBeneficiary' + i"
              >
                <option [value]="null">Please select</option>
                <option
                  *ngFor="let option of allBeneficiaryTypes"
                  [value]="option"
                >
                  {{ option | capitalize }}
                </option>
              </select>
              <div class="invalid-feedback">
                Please choose the beneficiary type.
              </div>
            </div>
          </div>

          <div formGroupName="details" *ngIf="isFieldAvailable('details', i)">
            <div
              class="human-benificiary"
              *ngIf="checkType(i, 'SPOUSE, NON_SPOUSE')"
            >
              <div class="row">
                <div class="col-4">
                  <label class="form-label fw-semibold">Full Name</label>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col">
                  <label [for]="'firstName' + i" class="form-label fnt-09"
                    >First name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': isInValidField('details.firstName', i),
                      'is-valid': isValidField('details.firstName', i)
                    }"
                    [id]="'firstName' + i"
                    placeholder="John"
                    formControlName="firstName"
                  />
                  <div class="invalid-feedback">Please add date of birth.</div>
                </div>
                <div class="col">
                  <label [for]="'middleName' + i" class="form-label fnt-09"
                    >Middle name (optional)</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    [id]="'middleName' + i"
                    placeholder="Miller"
                    formControlName="middleName"
                  />
                </div>
                <div class="col">
                  <label [for]="'lastName' + i" class="form-label fnt-09"
                    >Last name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': isInValidField('details.lastName', i),
                      'is-valid': isValidField('details.lastName', i)
                    }"
                    [id]="'lastName' + i"
                    placeholder="Doe"
                    formControlName="lastName"
                  />
                  <div class="invalid-feedback">Please add the last name.</div>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <label class="form-label fw-semibold">Date of birth</label>
                </div>
              </div>

              <div class="row mb-3" formGroupName="dateOfBirth">
                <div class="col">
                  <label [for]="'month' + i" class="form-label fnt-09"
                    >Month</label
                  >
                  <select
                    class="form-select"
                    [ngClass]="{
                      'is-invalid': isInValidField('details.dateOfBirth.month', i),
                      'is-valid': isValidField('details.dateOfBirth.month', i)
                    }"
                    aria-label="Select month"
                    formControlName="month"
                    [id]="'month' + i"
                  >
                    <option [value]="null">Select Month</option>
                    <option
                      *ngFor="let option of months"
                      [value]="option[0]"
                    >
                      {{ option[1] | capitalize }}
                    </option>
                  </select>
                  <div class="invalid-feedback">Please add month.</div>
                </div>
                <div class="col">
                  <label [for]="'day' + i" class="form-label fnt-09"
                    >Day</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': isInValidField('details.dateOfBirth.day', i),
                      'is-valid': isValidField('details.dateOfBirth.day', i)
                    }"
                    [id]="'day' + i"
                    placeholder="ex: 12"
                    formControlName="day"
                  />
                  <div class="invalid-feedback">Invalid day.</div>
                </div>
                <div class="col">
                  <label [for]="'year' + i" class="form-label fnt-09"
                    >Year</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': isInValidField('details.dateOfBirth.year', i),
                      'is-valid': isValidField('details.dateOfBirth.year', i)
                    }"
                    [id]="'year' + i"
                    placeholder="ex: 2012"
                    formControlName="year"
                  />
                  <div class="invalid-feedback">Invalid year.</div>
                </div>
              </div>
            </div>

            <div class="trust-benificiary" *ngIf="checkType(i, 'TRUST')">
              <div class="row mb-3">
                <div class="col-6">
                  <label [for]="'trustName' + i" class="form-label fnt-09"
                    >Trust name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': isInValidField('details.trustName', i),
                      'is-valid': isValidField('details.trustName', i)
                    }"
                    [id]="'trustName' + i"
                    placeholder="ABC Llc."
                    formControlName="trustName"
                  />
                  <div class="invalid-feedback">Please add the trust name.</div>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <label class="form-label fw-semibold">Date of established</label>
                </div>
              </div>

              <div class="row mb-3" formGroupName="established">
                <div class="col">
                  <label [for]="'month' + i" class="form-label fnt-09"
                    >Month</label
                  >
                  <select
                    class="form-select"
                    [ngClass]="{
                      'is-invalid': isInValidField('details.established.month', i),
                      'is-valid': isValidField('details.established.month', i)
                    }"
                    aria-label="Select month"
                    formControlName="month"
                    [id]="'month' + i"
                  >
                    <option [value]="null">Select Month</option>
                    <option
                      *ngFor="let option of months"
                      [value]="option[0]"
                    >
                      {{ option[1] | capitalize }}
                    </option>
                  </select>
                  <div class="invalid-feedback">Please add month.</div>
                </div>
                <div class="col">
                  <label [for]="'day' + i" class="form-label fnt-09"
                    >Day</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': isInValidField('details.established.day', i),
                      'is-valid': isValidField('details.established.day', i)
                    }"
                    [id]="'day' + i"
                    placeholder="ex: 12"
                    formControlName="day"
                  />
                  <div class="invalid-feedback">Invalid Day.</div>
                </div>
                <div class="col">
                  <label [for]="'year' + i" class="form-label fnt-09"
                    >Year</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': isInValidField('details.established.year', i),
                      'is-valid': isValidField('details.established.year', i)
                    }"
                    [id]="'year' + i"
                    placeholder="ex: 2012"
                    formControlName="year"
                  />
                  <div class="invalid-feedback">Invalid year.</div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="getBeneficiariesCount() > 1">
              <div class="col">
                <div class="form-group">
                  <label
                    [for]="'percentageAssigned' + i"
                    class="form-label fw-semibold"
                    >Percentage assigned</label
                  >
                  <input
                    type="number"
                    class="form-control mw-14rem"
                    [ngClass]="{
                      'is-invalid': isInValidField(
                        'details.percentageAssigned',
                        i
                      ),
                      'is-valid': isValidField('details.percentageAssigned', i)
                    }"
                    [id]="'percentageAssigned' + i"
                    aria-describedby="percentageAssignedHelp"
                    placeholder="100%"
                    formControlName="percentageAssigned"
                  />
                  <small
                    id="percentageAssignedHelp"
                    class="form-text text-muted"
                  >
                    Total percentage assigned must equal 100% if you have
                    multiple beneficiaries
                  </small>
                  <div class="invalid-feedback">
                    {{ getErrorMessages("percentageAssigned", i) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
